body {
    --primary-color: rgb(23, 168, 241);
    font-family: "Montserrat";
}

.home-page .banner{
    background-color: var(--primary-color);
}

.banner.hidden{
    display: none;
}

.navbar-brand-custom {
    font-family:"Montserrat" ;
    font-size: 1.5rem ;
    padding-top: 0rem ;
    margin-right: 2rem ;
    color: var(--primary-color);
    padding-bottom: 0.25rem ;
    float: left ;
}
/* Can't change for on hover and focus ?? */





.nav-pills.outline-active .nav-link-custom.active {
    background: #fff ;
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
}


.nav-pills.outline-active .nav-link-custom {
    border-radius: 0px;
    border: none;
    border-bottom: 2px solid transparent;
    background: transparent;
    color: #aaa;
    display: block;
    padding: 0.5em 1em;
}

.btn-outline-primary {
    color: var(--primary-color);
    background-image: none;
    background-color: transparent;
    border-color: var(--primary-color);
}


/* can change for on focus */
.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}


a {
    color: var(--primary-color);
    text-decoration: none;
}

.article-date {
  position: relative;  /* positioning, tai sao lai nhu v */
  height: 30px;
}
.custom-date {
  position: absolute;
  right: 0px;
  bottom: 0px;
    color: #bbb;
font-size: 0.8rem;
    display: block;
}

.page-link{
    color: var(--primary-color);
}


.page-item.active .page-link{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.loadable:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    margin: 36px auto;
    border: 3px solid var(--primary-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1.5s linear infinite;
}

.loadable.--loaded:before {
    display: none;
}

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }


.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: rgb(2, 129, 193);
    border-color: rgb(2, 129, 193);
}

.error-message {
  color: #ef4444;        
  display: none;     
  margin-bottom: 0;
}

.error-message.show {      
  display: block;     
}